.checkoutForm {
  border: 1px solid grey;
  padding: 0 20px;
  border-radius: 24px;
}
.inputValue,
.buttonStyles {
  margin: 20px 0 20px 0;
}
.error {
  padding: 10px 10px 20px 10px;
  color: red;
  text-align: center;
}
label {
  font-weight: 700;
  width: 40%;
  padding-right: 50px;
}
.errorContainer {
  text-align: center;
}
form {
  padding: 5px;
}
.buttonStyles {
  text-align: center;
}
button {
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 7px;
}
h3 {
  text-align: center;
  margin: 50px;
}
