.checkoutForm {
  /* width: 400px; */
}
.inputValue,
.buttonStyles {
  margin: 20px 0 20px 0;
}
.error {
  padding-top: 10px;
  color: red;
}
label {
  font-weight: 700;
  width: 40%;
  padding-right: 50px;
}
.buttonStyles {
  text-align: center;
}
button {
  font-weight: bold;
  padding: 8px 10px;
  border-radius: 7px;
}
h3 {
  text-align: center;
  margin: 50px;
}
